DATABASE_URL= 
DATABASE_ADMIN_URL= 
DATABASE_SSL= 
SESSION_SECRET= 
PORT=8080
NODE_ENV=development
LOG_LEVEL=info
MFA_ENCRYPTION_KEY= 
GOOGLE_MAPS_API_KEY= 
ONEMAP_EMAIL=your-email@example.com
ONEMAP_PASSWORD=your-password